body{
    width: 750px;
    background-color: gainsboro;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    /* flex: 50% 50%; */
    stroke: black;
    width: 50% 50%;
    margin: 50px;
}
.all{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
h1{
    padding-right: 150px;
    width: 40%;
}
.main .one ul li{
    display: flex;

    margin:10px;
    text-align: right;
    text-decoration: none;
    list-style: none;
    float: right;
    /* width: 500px; */
    /* padding-top: 33px; */
}
.one{
    margin: 20px;
    display: flexbox;
    justify-content: space-between;
    /* width: 100%; */
}
.two{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.three ul{
    padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  list-style: none;
}
.three ul li{
    padding-top: 50px;
  padding-bottom: 50px;
}
.four ul{
    display: inline-flex;
    margin: 20px;
    list-style: none;
}
.five{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}